<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <!--<filter>-->
		<!--<filter-name>struts2</filter-name> -->
		<!--<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>-->
	<!--</filter>-->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>struts2</filter-name> 
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<display-name>SslvpnStrategyCenter</display-name>
	<description>SslvpnStrategyCenter</description>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--下载 android client-->

	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
    <jsp-config>
        <taglib>
            <taglib-uri>/tags/core</taglib-uri>
            <taglib-location>/WEB-INF/c-1_0-rt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.collin.cn/taglib/lbs</taglib-uri>
            <taglib-location>/WEB-INF/lbs.tld</taglib-location>
        </taglib>
	</jsp-config>
</web-app>
